<body>
    
  <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center row justify-content-center">
          
          <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-info border-light">
                  <h4 class="my-0 fw-normal">Internet celular</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">R$20
                  <small class="text-muted fw-light">/mês</small>
                  </h1>
                  <ul class="list-unstyled mt-3 mb-4">
                      <li>💥🍿 𝐉𝐔𝐋𝐈𝐀𝐍𝐎 Internet celular  🍿💥</li>


                      <li>INTERNET ILIMITADA VIA APLICATIVO </li>
                      <li>🟣 VIVO 🔵 TIM </li>
                      ----------------------------------------
                      <li>🗂[RODANDO TUDO]🗂</li>
                      ----------------------------------------
                      <li>📞CHAMADA DE VOZ E VIDEO</li>
                      <li>🎥NETFLIX🎥</li>
                      <li>🕹JOGOS ON FREE FIRE (PING ENTRE 30 90) PUBG COD E ETC PING BAIXO🕹</li>
                      <li>📲YOUTUBE FULL💻 </li>
                      <li>📺IPTV📺</li>
                      <li>✅ETC✅</li>
                      <li> 🧭BATENDO 40+MB🧭</li>
                      <li>✅ TESTE DE 2 HORAS</li>
                  </ul>
                  <a type="button" class="button-whatsapp w-100 btn btn-lg btn-info text-light" href="https://wa.me/55{{number}}">COMPRAR</a>
                </div>
              </div>
          </div>
          
        </div>
  </div>

  <footer class="footer-custom bg-dark text-white d-flex align-items-center justify-content-center">
      <p class="mb-0">&copy;2024 JULIANO. Todos os direitos reservados.</p>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>