<body>
  <div class="container">

    <div
      class="row row-cols-1 row-cols-md-3 mb-3 text-center row justify-content-center"
    >
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-info border-light">
            <h4 class="my-0 fw-normal">NETFLIX</h4>
          </div>
          <div
            class="row row-cols-1 row-cols-md-3 mb-3 text-center row justify-content-center"
          >

            <img
              class="col"
              src="https://upload.wikimedia.org/wikipedia/commons/7/75/Netflix_icon.svg"
              width="100px"
              alt=""
            />

          </div>
          <h4>1 TELA NETFLIX</h4>
          <h2>R$18.00</h2>
          <h5>30 dias</h5>
          <div class="card-body">

            <a
              type="button"
              class="button-whatsapp w-100 btn btn-lg btn-info text-light"
              href="https://wa.me/55{{number}}"
            >COMPRAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">

          <div class="card-header py-3 text-white bg-info border-light">
            <h4 class="my-0 fw-normal">GLOBO PLAY</h4>
          </div>

          <div
            class="row row-cols-1 row-cols-md-3 mb-3 text-center row justify-content-center"
          >

            <img
              src="https://seeklogo.com/images/G/globoplay-logo-BA545AE124-seeklogo.com.png"
              width="100px"
              alt=""
            />

          </div>
          <div>
            <h4>GLOBO PLAY</h4>
            <h2>R$10.00</h2>
            <h5>30 dias</h5>
          </div>
          <div class="card-body">

            <a
              type="button"
              class="button-whatsapp w-100 btn btn-lg btn-info text-light"
              href="https://wa.me/55{{number}}"
            >COMPRAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">

          <div class="card-header py-3 text-white bg-info border-light">
            <h4 class="my-0 fw-normal">DISNEY PLUS</h4>
          </div>
          <div
            class="row row-cols-1 row-cols-md-3 mb-3 text-center row justify-content-center"
          >

            <img
              src="https://m.media-amazon.com/images/I/719t3jd2NeL.png"
              width="100px"
              alt=""
            />

          </div>
          <div>
            <h4>DISNEY PLUS</h4>
            <h2>R$10.00</h2>
            <h5>30 dias</h5>
          </div>
          <div class="card-body">

            <a
              type="button"
              class="button-whatsapp w-100 btn btn-lg btn-info text-light"
              href="https://wa.me/55{{number}}"
            >COMPRAR</a>
          </div>
        </div>
      </div>
    </div>

    <div
      class="row row-cols-1 row-cols-md-3 mb-3 text-center row justify-content-center"
    >
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-info border-light">
            <h4 class="my-0 fw-normal">Telas</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>­ЪњЦ­ЪЇ┐┬а­ЮљЅ­Юљћ­ЮљІ­Юљѕ­Юљђ­ЮљЇ­Юљј ­ЮљЊ­Юљё­ЮљІ­Юљђ­Юљњ┬а ­ЪЇ┐­ЪњЦ</li>

              <li>РџА№ИЈ FILMES E S├ЅRIESРџА№ИЈ</li>

              <li>РЎ╗№ИЈ - Netflix 1 tela - R$ 18,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Disney Plus R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Globo Play + Telecine - R$ 20,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Globo Play + Premiere play- R$ 30,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Globo Play + Canais - R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Telecine play R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Max R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Prime v├Гdeo R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - My Family R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Paramount +┬а R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li> РЎ╗№ИЈ - Funimation - R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li> РЎ╗№ИЈ - Play Plus R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Starz Play - R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Claro TV R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Claro TV + Disney R$ 25,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Uol play - R$ 20,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Looke R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Star+ R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Directv GO B├Аsico R$ 20,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>
              РЎ╗№ИЈ - Directv GO COMPLETO R$ 35,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б

              <li>­ЪЇЪ ╔ф╔┤мЊр┤ђ╔┤р┤Џ╔ф╩Ъ e animes­ЪЇЪ</li>

              <li>РЎ╗№ИЈ - Cartoon Network - R$ 17,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Discovery Kids - R$ 12,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Crunchyroll - R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Funimation R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Nickelodeon R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Noggin R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>­ЪјД р┤Їр┤юs╔фcр┤ђs р┤Є v├Гр┤Ёр┤Єos ­ЪјД</li>

              <li>РЎ╗№ИЈ - YouTube Premium R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - YouTube fam├Гlia R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - YouTube music - R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Spotify Individual R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Spotify Duo R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Spotify Fam├Гlia R$ 20,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li> РЎ╗№ИЈ - Deezer Premium R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Deezer Fam├Гlia R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Tidal - R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>
              <li> РЎ╗№ИЈ - Resso Premium 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li> РЎ╗№ИЈ - Napster R$15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>Рџй№ИЈ р┤Єsр┤ўр┤Ј╩ђр┤Џр┤Єs Рџй№ИЈ</li>

              <li>РЎ╗№ИЈ - Premiere play R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Dazn - R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - ESPN - R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Ei Plus - R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Combate play R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - TNT SPORTS R$ 10,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>­Ъћъ р┤ђр┤Ёр┤ю╩Ър┤Џр┤Јs ­Ъћъ</li>

              <li>РЎ╗№ИЈ - Brasileirinhas - R$ 20,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Tufos - R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Sexy Hot R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Xvideos Red R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Teste Fudelidade R$ 20,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Camera Caseira R$ 20,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>

              <li>РЎ╗№ИЈ - Sexy Hot - R$ 15,00 ╦брхўрхќрхњ╩│рхЌрхЅ 30рхѕРЂ▒рхЃ╦б</li>
              <li>РюЁ SUPORTE DE 30 DIAS EM TODOS OS ACESSO РюЁ</li>
              <li>­Ъњ░ PAGAMENTO: РўЉ№ИЈPix</li>

              <a href="https://chat.whatsapp.com/HSnJJIdkFtlGUMCipX6rPr">Grupo
                de print vendas</a>
            </ul>

            <a
              type="button"
              class="button-whatsapp w-100 btn btn-lg btn-info text-light"
              href="https://wa.me/55{{number}}"
            >COMPRAR</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer
    class="footer-custom bg-dark text-white d-flex align-items-center justify-content-center"
  >
    <p class="mb-0">&copy;2024 JULIANO. Todos os direitos reservados.</p>
  </footer>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</body>